{% extends "::base.html.twig" %}

{% block title %}Welcome{% endblock %}

{% block body %}
	{% include '::nav.html.twig' %}
	<div class="container">
		<div class="page-header">
			<h1>Welcome<br><small>{{ app.user.firstName }} {{ app.user.lastName }}</small></h1>
		</div>
	</div>
{% endblock %}
