{% extends 'base.html.twig' %}
{% import 'nav.html.twig' as nav %} {# Using the dot notation on an instance of Twig_Template is deprecated since version 1.28 and won't be supported anymore in 2.0 #}
{% import 'table.html.twig' as table %} {# todo macros are meant to be imported in the same template, not in a parent. #}
{% block title %}{{ parent() }}{% endblock %}
{% block body %}
	{% include '::nav.html.twig' %}
	<div class="container">
		<div class="page-header">
			{%- block header %}{% endblock -%}
		</div>
		<div class="row">
			<div class="col-sm-9" role="main">
				{% block main %}{% endblock %}
			</div>
			<div class="col-sm-3" role="complimentary">
				{% block complimentary %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}