{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
{% block body %}
	{% include '::nav.html.twig' %}
	<div class="container">
		<div class="page-header">
			{%- block header %}{% endblock -%}
		</div>
		<div class="row">
			<div class="col-sm-9" role="main">
				{% block main %}{% endblock %}
			</div>
			<div class="col-sm-3" role="complimentary">
				{% block complimentary %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}